# Public at runtime (will be embedded in the bundle)
EXPO_PUBLIC_FIREBASE_API_KEY=YOUR_API_KEY
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=nerd-word-cfda3.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=nerd-word-cfda3
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=nerd-word-cfda3.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1095647998196
EXPO_PUBLIC_FIREBASE_APP_ID=1:1095647998196:web:7bbee77f52a04d286c2ea1
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-2VYYRXBD02